.navigation__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: right;
  padding-right: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.usr_name {
  color: rgb(197, 211, 214);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Mate SC', serif;
}
