.filter_form {
  width: 360px;
  height: auto;
  background-color: rgb(81, 209, 241);
  -webkit-box-shadow: 0px -12px 21px 16px #4551f7;
  box-shadow: 0px -12px 21px 16px #4551f7;
  margin: 0 auto;
  border: solid 6px rgb(4, 131, 250);
  border-bottom: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  border-radius: 20px;
}
