.signIn_form {
  width: 360px;
  min-height: 106px;
  display: flex;
  height: auto;
  background-color: rgb(137, 93, 209);
  margin: 0 auto;
  -webkit-box-shadow: 0px -23px 30px 18px #7c3ee0;
  box-shadow: 0px -23px 30px 18px #7c3ee0;
  border: solid 3px rgb(10, 113, 231);
  border-radius: 20px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-top: 3px;
  padding-right: 2px;
  border-bottom: none;
}
.signIn_input {
  width: 100%;
}
.signIn_input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  width: 280px;
}
.signIn_button {
  text-orientation: upright;
  writing-mode: vertical-rl;
  transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.93969262, M12=0.34202014, M21=-0.34202014, M22=0.93969262,sizingMethod='auto expand')"; /* IE6-8 */
  -webkit-transform: rotate(7deg);
  width: 64px;
  height: auto;
}

.input_show_password {
  display: inline;
  margin-right: 10px;
}

@media (min-width: 767px) {
  .signIn_form {
    width: 600px;
  }

  .signIn_input_wrapper {
    padding-right: 10px;
    width: 550px;
  }
}
